#header a{
  font-size: 20px !important;
  margin-right: 30px;
}

.header{
  width: 100%;
  position: fixed;
  height: 50px;
  background: rgb(167, 162, 162);
  color: black;
  z-index: 99999;
}

.fa{
  padding: 10px !important;
  margin-right: 2px !important;
}

@media screen and (max-width: 786px) {
  .header{ 
    height: 100px;
  }
}

@media screen and (max-width: 380px) {
  .header{ 
    height: 150px;
  }
}
