.App{
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}

.section{
  width: 100%;
  height: 500px;
}

.learn-more-btn{
  width: 100px;
  height: max-content;
  background-color: #e42121;
  color: #fff;
  text-align: center !important;
  padding: 10px;
  margin: auto;
  transition: width 2s ease;
}

.learn-more-btn:hover{
  width: 150px;
  background-color: yellow;
}

.learn-more-btn:hover a{
  color: black;  
}

a{
  text-decoration: none;
  color: #fff;
}

.scrollTop{
  position: fixed;
}